header {
  display: flex;
  padding: 1rem;

  .header-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 70px;
    }

    .main-nav {
      display: flex;
      ul.nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        li.nav-item {
          display: flex;
          align-items: center;

          .nav-link {
            padding: .7rem 1rem;
            cursor: pointer;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
/*.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}*/
